$background: #F46036; //#79B473;
$dialog-main: #616196;
$titles: #084C61;
$body: #481D24;

@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Sonsie+One|Montserrat');

body {
  background: $background;

}