$background: #F46036; //#79B473;
$dialog-main: #616196;
$titles: #084C61;
$body: #481D24;

@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Sonsie+One|Montserrat');

body {
  background: $background;
  color: white
}

.heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  font-family: Sonsie One;
}


.recipe-box-wrapper {
    display: block;
    margin: 20px 15%;
}

.recipe-title, h4, .index-view-item, .dialog-box  {
  font-family: Fugaz One;
}

